.btn {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: green;
    font-weight: bold;
    color: white;
}

.btn:disabled {
    background-color: red;
}

.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}